*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    flex-direction: column;
    text-transform: capitalize;
}

.container{
    display: flex;
    width: 90vw;
   
}


.panel{
    text-transform: capitalize;
    height: 80vh;
    background-size: cover;
    margin: 10px;
    border-radius: 50px;
    background-position: center;
    flex: 1;
    position: relative;
    transition: .5s ease-in;
    cursor: grab;
}

.panel h3{
    color: black;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    font-size: 1.7rem;
}
.active{
    flex: 5;
}

.active h3{
    opacity: 1;
    transition: 0.4s ease-in 0.6s;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        width: 90vw;
        height: 90vh;
    }

    .panel{
        height: 100%;
        width: 100%;
        margin: 10px 0;
    }

    .active{
        flex: 5;
    }

    h1 {
        font-size: 1.3rem;
        margin: 0px 40px;
        text-align: center;
    }

    .panel h3{
        font-size: 1rem;
    }
}



